
body {
    font-family: "Playwrite MX", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: rgb(0, 0, 0);
    color: white;
}

.navbar{
    background-color: blueviolet!important;
    color: white!important;
    
}

.navbar a{
    padding-left: 20px;
}

#logo{
    width: 50px;
}

h1{
    font-family: Playwrite MX;
    font-size: 20pt;
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 0px;
}

#Presentacion{
    padding-top: 40px;
}

#Presentacion col{
    text-align: justify ;
}

.icono-fondo {
    background-color: blueviolet;
    text-align: center;
    color: white;
    size-adjust: 10;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
}

.parrafo-i {
    padding-top: 16px;
}

#Destacados{
    padding-top: 40px;
}

.card{
    background-color: blueviolet;
    color: white;
    border: white;
    margin-top: 20px;
}

.card-img-top{
   height: 150px; 
}

.card-body{
    height: 150px; 
 }

#Contacto{
    padding-top: 40px;
    margin-bottom: 50px;
}

.btn {
    background-color: blueviolet;
    border-color: blueviolet;
}

footer {
    background-color: blueviolet;
}

footer a{
    color: white;
    text-decoration: none;
}

.RRSS{
    text-align: end;
}
