h1 {
    font-family: "Playwrite MX", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

body {
  font-family: "Playwrite MX", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  scroll-behavior: smooth;
}